<footer style="background-color: #8A784E;">
        <div class="container pt-3">
            <div class="row">
                <div class="col mb-3">
                    <h5>Important Links</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="./reports.html"
                                class="nav-link p-0 text-body-secondary">Reports</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Download</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">WPMS Portal</a>
                        </li>
                    </ul>
                </div>
                <div class="col mb-3">
                    <h5>Help And Support</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Accessibility</a>
                        </li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Feedback</a></li>
                        <li class="nav-item mb-2"><a 
href="#" class="nav-link p-0 text-body-secondary">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div class="col mb-3">
                    <h5>Policies</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Disclaimer</a>
                        </li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Privacy
                                Policy</a>
                        </li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Copyright
                                Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="col mb-3">
                    <h5>Address</h5>
                    <div class="container-fluid rounded" style="background-color: #e7efc7;">
                        <p>Food Corporation Of India
                            16-20, Barakhamba Lane,
                            New Delhi-110001, India.</p>
                        <p> 011 - 43527485</p>
                        <p> gmitfci.gov.in</p><br>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom" style="background-color: #0b0b0b;">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div style=" padding: 10px; border-radius: 5px; text-align: right;">
                            <img src="assets/images/nic.svg">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p style="color: #ebe7e7; margin: 0px;">Copyright © 2025 | National Informatics Centre, All
 Rights Reserved
                        </p>
                    </div>

                </div>
            </div>
        </div>


    </footer>

