<header class="header page-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 py-3">
                <img href="https://dfpd.gov.in/" src="assets/images/logo.png" class="w-100 h-60"
                    alt="50% width and 25% height" />
            </div>

            <style>
        
            </style>
            <div class="col-6 py-3 text-center">
                <h2>Central Food Grains Procurement Portal</h2>
            </div>
            <div class="col-3 py-3">
                <img href="https://fci.gov.in/headquarter/" src="assets/images/fci.png" class="w-100 h-60"
                    alt="50% width and 25% height" />

            </div>
        </div>
    </div>

</header>